body {
  background-color: #000000 !important; 
  overflow: hidden !important;
}

.chat-container {
  display: flex;
  flex-direction: column;
  min-height: 87vh;
  max-height: 88vh;
  border: 1px solid #0c0c0c; 
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #0b0b0b;; 
  color: #fff; 
  scrollbar-width: thin;
  scrollbar-color: #888888 #0b0b0b;
  overflow-y: scroll ;
}

.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-track {
  background: #0b0b0b;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 20px;
  border: 1px solid #0b0b0b;
}


.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user-message,
.bot-message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
}

.user-message {
  align-self: flex-end;
  background-color: #007bff; 
}

.bot-message {
  align-self: flex-start;
  background-color: #0d1115;
  color: #fff; /* Add this line to set text color to white */
}


.input-form {
  display: flex;
  margin-top: 15px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #cdc5c5; 
  color: #111010; 
}

button{
  border-radius: 6px;
}

/* button {
  padding: 10px 16px;
  border: none;
  border-radius: 10px !important;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* button:hover {
  background-color: #0056b3;
} */

.clear-chat {
  margin-top: 5px !important;
}

.intro {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: auto;
}

.intro-header{
  text-align: center;
  margin-bottom: 50px;
  gap: 20px;
}

.initial{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;

}

.intro img {
  width: 150px;
  height: auto;
  justify-self: center;
  align-self: center; 
  margin-bottom: 50px;
}

.pro-packages-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.pro-packages-popup button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Landing Page css files */
.large-text{
  font-size: 5rem;
  font-weight: 600;
  text-align: left;
  padding-left: 50px;
  margin-bottom: 20px;
}

.landing-page{
  height: 100%;
}

.microsoft-signin-button {
  background-color: #0078D7; /* Microsoft brand blue */
  color: #fff; /* White text */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.microsoft-signin-button:hover {
  opacity: 0.8;
}

