body {
  background-color: #000000 !important; 
}

.chat-container {
  display: flex;
  flex-direction: column;
  min-height: 87vh;
  max-height: 88vh;
  border: 1px solid #0c0c0c; 
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #0b0b0b;; 
  color: #fff; 
  overflow-y: scroll ;
}

.messages {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user-message,
.bot-message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 70%;
}

.user-message {
  align-self: flex-end;
  background-color: #007bff; 
}

.bot-message {
  align-self: flex-start;
  background-color: #6c757d; 
}

.input-form {
  display: flex;
  margin-top: 15px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #fff; 
  color: #000; 
}

button{
  border-radius: 6px;
  padding: 10px 14px;
}

.clear-chat {
  margin-top: 5px !important;
}

.intro {
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-bottom: 10px;
}

.intro img {
  width:400px;
  justify-self: center;
  align-self: center; 
}